@use 'variables' as * ;

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@mixin card {
  position: relative;
  background-color: $bg-card;
  border: 1px solid $border-color;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}