@use '../abstract/variables' as * ;
@use '../abstract/mixins' as * ;

#contact {
  text-decoration: none;
}

.card-footer {
  @include space-between;
}

.cta-group {
  @include space-between;

  .btn {

    border-radius: 12px;
    padding: 0.8rem;

    &.btn-primary {
      border: 1px solid $text-primary;
    }

    &.btn-secondary {
      border: 1px solid rgb(156 163 175 / 0.34);
    }
    @media(min-width: 768px){
      font-size: 1.3rem;
      transition: transform 0.3s ease-in-out;
      &:hover{
        transform: scale(110%);
      }
    }

  }
}

.social-btn {
  border: 1px solid rgb(156 163 175 / 0.34);
  border-radius: 12px;
  padding: 0.8rem;

  @media(min-width: 768px){
    font-size: 1.3rem;
    padding: 1rem;
    margin: auto 0.8rem;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;

    &:hover{
      background-color: $text-primary;
      color: $bg-card;
    }
  }
}

