@use '../abstract/variables' as * ;
@use '../abstract/mixins' as * ;

.info-card {
  @include card;
  height: 90vh;
  justify-content: space-between;


  .card-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    color: $text-secondary;
    letter-spacing: 2px;
  }

  .card-body {
    margin: 2rem 0;
  }

  .subtitle {
    color: $green;
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}