@use '../abstract/variables.scss' as *;
@use '../abstract/mixins.scss' as *;

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;

  background-color: rgba(18, 19, 22, 0.85);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.5rem 1rem;

  .logo {
    font-size: 0.8rem;
    align-items: center;
    margin-right: 0.5rem;

    @media(min-width: 768px) {
      margin: auto 2rem;
      font-size: 1rem;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;

    @media(min-width: 1024px) {
      gap: 6rem;
      margin-left: 50vw;
    }
  }

  li {
    font-size: 0.8rem;
    color: $text-secondary;
    transition: color 0.2s;

    &:hover, &.active {
      color: $text-primary;
      @media(min-width: 768px) {
        text-decoration: underline;
      }
    }

    @media(min-width: 1024px) {
      font-size: 1rem;
    }
  }

  @media (min-width: 1024px) {
    position: fixed;
    top: 0;
    bottom: auto;
    background-color: $bg-card;
    border: 1px solid $border-color;
    border-radius: 12px;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    width: 95vw;
  }
}